extends ../blog-layout.pug
block vars
  -var data = JSON.parse(read("./src/views/russia/sentiment-analysis/config.json"));
  -var title = data.title
  -var subtitle = data.subtitle
  -var date = data.date
  -var featured_image_url = data.featured_image_url
  -var featured_image_alt  = data.featured_image_alt
  -var featured_image_caption  = data.featured_image_caption
  -var featured_image_credit = data.featured_image_credit
  -var tag = data.tag

block body 
  include ../../components/line-graph.pug
  +line_chart("sentiment-spike", "#F03434,#3A539B", 300, "Sentiment", "TODO: ADD Y-Axis Label", "/assets/data/sentiment_spike.csv", "false", 2, "Troll Tweets,Random Tweets", "false")
  
block scripts
  script(src = "/bower_components/d3/d3.min.js")
  script(src = "/dist/line-chart-min.js")
