extends ../blog-layout.pug
block vars
  -var data = JSON.parse(read("./src/views/russia/sentiment-analysis/config.json"));
  -var title = data.title
  -var subtitle = data.subtitle
  -var date = data.date
  -var featured_image_url = data.featured_image_url
  -var featured_image_alt  = data.featured_image_alt
  -var featured_image_caption  = data.featured_image_caption
  -var featured_image_credit = data.featured_image_credit
  -var tag = data.tag

block body 
  include ../../components/line-graph.pug
  +line_chart("sentiment-spike", "#eb974e,#049372", 300, "Sentiment", "Relative Density", "/assets/data/sentiment_spike.csv", "false", 2, "Troll Tweets,Random Tweets")
  +line_chart("sentiment-no-spike", "#eb974e,#049372", 300, "Sentiment", "Relative Density", "/assets/data/sentiment_no_spike.csv", "false", 2, "Troll Tweets,Random Tweets")
  +line_chart("trump-clinton", "#F03434,#3A539B", 300, "Time", "Average Troll Sentiment", "/assets/data/trump-clinton.csv", "false", 2, "Donald Trump,Hillary Clinton", "true", "true")
  
block scripts
  script(src = "/bower_components/d3/d3.min.js")
  script(src = "/dist/line-chart.js")
