doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 
    link(href='bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='dist/CSS/china-download.css', rel='stylesheet', type='text/css')
  body
    center 
      h1 审查探测
      p 审查探测会在您已发送的微博中有可能含有敏感内容，或者您的微博被屏蔽时警告您。使用审查探测，确保您的在线身份不留黑历史。
      br
      a(href = "./assets/CensorScout.crx" target = "_blank")
        button.button.is-outlined.is-white.is-large 下载
