doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "A real-time dashboard of censored posts and keywords on Weibo.")
    meta(name = "author" content = "Jeffrey Shen, Miles McCain")
    title Censorship Dashboard | Digital Propaganda &amp; Censorship
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "../../assets/graphics/icon/favicon.png")
    link(href='../../bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='../../bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='../../dist/CSS/china.css', rel='stylesheet', type='text/css')
  body
    header
      a(href = "../../") 
        img#icon(src = "../../assets/graphics/icon/icon_transparent.png")
    #body
      h1 Censorship Dashboard
      p A real-time feed of Weibo posts which have been censored by the Chinese Communist Party. Fully <a href = "https://github.com/DPCLab/WeiboScrape" target = "_blank">open-source</a> and <a href = "" target = "_blank">downloadable</a>.
      br
      p#loading(hidden)
        i.fas.fa-spinner.fa-spin 
        strong &nbsp;&nbsp;Updating posts .... 
      br
      .columns
        #sidebar.column.is-4(style = "display:none")
          #topics
            h2 Controversial Topics
            ul#trends
          #info
            p Keywords which are similar amongst the most recently censored posts. Download the full list <a href = "">here</a>.
        #post-column.column.is-8(style = "display:none")
          ol#posts
    script(src='../../bower_components/jquery/dist/jquery.min.js')
    script(src='../../bower_components/d3/d3.min.js')
    script(src='../../dist/china-min.js')
