doctype html
html(lang='en')
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "A student-driven independent project on Chinese and Russian digital propaganda and censorship at Phillips Academy.")
    meta(name = "author" content = "Jeffrey Shen, Miles McCain")
    title #{title} | Russia | Digital Propaganda &amp; Censorship 
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "/assets/graphics/icon/favicon.png")
    link(href='/bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='/dist/CSS/blog.css', rel='stylesheet', type='text/css')
  body
    include ../components/header.pug
    include ../components/components.pug
    #body
      .has-text-centered
        br
        h1.is-size-2 #{title}
        span.heading.is-size-6 Miles McCain and Jeffrey Shen
        br
      if featured_image_url
        +img_full(featured_image_url, featured_image_alt, featured_image_caption, featured_image_credit)    
      span.heading.is-size-6.date #{date}
      hr
      block body
      br
      br
      p 
        i Miles McCain and Jeffrey Shen are current high-school seniors at Phillips Academy.
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src = "//static.getclicky.com/js" type = "text/javascript")
    script(type = "text/javascript").
      try{
        click.init(101144012);
      }
      catch(e){}
    noscript
      p
        img(alt = "Clicky" width = "1" height = "1" src = "//in.getclicky.com/101144012ns.gif")
