doctype html
html(lang='en')
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "A student-driven independent project on Chinese and Russian digital propaganda and censorship at Phillips Academy.")
    meta(name = "author" content = "Jeffrey Shen, Miles McCain")
    title #{title} | Russia | Digital Propaganda &amp; Censorship 
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "/assets/graphics/icon/favicon.png")
    link(href='/bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='/dist/CSS/blog.css', rel='stylesheet', type='text/css')
  body
    include ../components/header.pug
    #body
      .has-text-centered
        br
        h1.is-size-2 #{title}
        span.heading.is-size-6 Miles McCain and Jeffrey Shen
        br
        .img.full
          img(src = "https://images.unsplash.com/photo-1539782916254-c0e7966b1784?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86a7b3dd2b2629b3a55ff29c1b9a3585&auto=format&fit=crop&w=1350&q=80")
          p Caption
          p Credit
      br
      .columns
        .column
          p Approximately 13% of Weibo posts are <a href = "https://www.jstor.org/stable/43654017" target = "_blank">censored</a>, however no reliable and open source tool to track these censored posts currently exists. This dashboard provides an almost real-time feed of censorship on Weibo and is completely open-source and transparent.
            br
            br
            | For information on our methodology and Chinese Internet censorship, please see our <a href = "" target = "_blank">paper</a>. The source for this website is available freely online on <a href = "https://github.com/DPCLab/" target = "_blank">GitHub</a>. Download the most recent data with date ranges <a href = "https://cs.dpccdn.net/v1/download_recent" target = "_blank">here</a>.
        .column.disclaimer
          ul
            li The posts included in our data-set are not a representative sample of Weibo posts. Our data collection began on September 28, 2018.
            li All translations are provided by Google Translate.
            li Not all posts listed in this dashboard were necessarily censored by the government; some may have been deleted by the user who originally posted the content, and others may have been only censored temporarily.
            li Post removal is only one of many ways that Weibo and the Chinese government moderates content online. This dashboard provides a focused—albeit limited—view of Weibo censorship, and, by extension, Chinese censorship more broadly.
      hr
      p#loading(hidden)
        br
        i.fas.fa-spinner.fa-spin 
        strong &nbsp;&nbsp;Updating posts .... 
      #graphs.columns
        #at-a-glance.column.is-4-desktop(style = "display:none")
          .text
            h2#total-posts-collected 
            p TOTAL POSTS COLLECTED
            h2#potentially-censored 
            p POTENTIALLY CENSORED POSTS
            h2#urls-monitored  
            p SOURCE URLS MONITORED
        .column.is-4-desktop
          #recent-pie.pie
            .tooltip.hidden
        .column.is-4-desktop
          #all-pie.pie
            .tooltip.hidden
      hr 
      .columns 
        .column.is-4.explanation
          h2 Significant Patterns
          p Common lexical patterns extracted from the 1,000 most recent potentially censored posts. 
        .column.is-8.explanation
          h2 Potentially Censored Posts
          p Weibo posts that were once available but were subsequently taken down by either Weibo (as required by the Chinese government) or the user. 
      .columns
        #sidebar.column.is-4(style = "display:none")
          ul#trends 
        #post-column.column.is-8(style = "display:none")
          ol#posts
          p#end-message(hidden) <br>You've reached the end of this batch! Download the full list of terms <a href = "https://cs.dpccdn.net/v1/download_recent">here</a>.<br>
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/dist/script-min.js')
    script(src = "//static.getclicky.com/js" type = "text/javascript")
    script(type = "text/javascript").
      try{
        click.init(101144012);
      }
      catch(e){}
    noscript
      p
        img(alt = "Clicky" width = "1" height = "1" src = "//in.getclicky.com/101144012ns.gif")
