doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "Research on Russian Internet propaganda, done for an Independent Project on digital propaganda and censorship at Phillips Academy")
    meta(name = "author" content = "Jeffrey Shen, Miles McCain")
    title Russia | Digital Propaganda &amp; Censorship 
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "../assets/graphics/icon/favicon.png")
    link(href='../bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='../bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='../dist/CSS/russia.css', rel='stylesheet', type='text/css')
  body
    include ../components/header.pug  
    include ../components/components.pug  
    
    #body
      .has-text-centered
        br
        h1.is-size-2.title.has-text-black Russian Meddling
        span.subtitle.is-size-4 A four-part series exploring Russian meddling on American social media.
        span.heading.is-size-6.names Miles McCain and Jeffrey Shen
        br
      br
      .columns.is-centered
        .column.is-12-mobile.is-12-tablet.is-10-desktop
          hr
          each post in ["intro-to-russian-meddling", "machine-learning-troll-detection", "model-applications", "troll-explorer"]
            .post.columns
              -var data = JSON.parse(read("./src/views/russia/" + post + "/config.json"));
              .column.is-narrow
                .img.image.thumbnail
                  img(src = data.featured_image_url)
              .column
                h1
                  a(href = "./" + post)=data.title
                p.is-size-5=data.subtitle
                br
                p.heading
                  span.tag-inline=data.tag
                  | &nbsp;•&nbsp;
                  span(style = "font-size:14px;") #{data.date}
            hr 
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../dist/script-min.js')
    noscript
      img(src="//shynet.rmrm.io/ingress/03c23461-c433-48f9-8ee9-7f3da5edf55b/pixel.gif")
    script(src="//shynet.rmrm.io/ingress/03c23461-c433-48f9-8ee9-7f3da5edf55b/script.js")
