doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "Research on Chinese censorship, done for an Independent Project on digital propaganda and censorship at Phillips Academy")
    meta(name = "author" content = "Jeffrey Shen, Miles McCain")
    title China | Digital Propaganda &amp; Censorship 
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "../assets/graphics/icon/favicon.png")
    link(href='../bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='../bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='../dist/CSS/main.css', rel='stylesheet', type='text/css')
  body

    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../dist/script-min.js')
