doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "")
    meta(name = "author" content = "Jeffrey Shen, Miles McCain")
    title Digital Propaganda &amp; Censorship 
    // Add title, description 
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "../assets/graphics/icon/favicon.png")
    link(href='../bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='../bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='../dist/CSS/china.css', rel='stylesheet', type='text/css')
  body
    header
      a(href = "../") 
        img#icon(src = "../assets/graphics/icon/icon_transparent.png")
    #body
      p A real-time feed of Weibo posts which have been censored by the Chinese Communist Party. Fully <a href = "https://github.com/DPCLab/WeiboScrape" target = "_blank">open-source</a> and <a href = "" target = "_blank">downloadable</a>.
      hr
      ol 
        li <span>TEXT</span>: 你好<br>
          | <span>RECEIVED:</span> 2018-09-28 (23:02:31.809) EDT<br><span>CENSORED:</span> 2018-09-29 (23:02:31.809) EDT<br>
          a(href = "https://weibo.com/2571906604/FfXPwuQXf" target = "_blank")
            i.fas.fa-sm.fa-external-link-alt
            | &nbsp;View on Weibo
        li <span>TEXT</span>: 你好<br>
          | <span>RECEIVED:</span> 2018-09-28 (23:02:31.809) EDT<br><span>CENSORED:</span> 2018-09-29 (23:02:31.809) EDT<br>
          a(href = "https://weibo.com/2571906604/FfXPwuQXf" target = "_blank")
            i.fas.fa-sm.fa-external-link-alt
            | &nbsp;View on Weibo
        li <span>TEXT</span>: 你好<br>
          | <span>RECEIVED:</span> 2018-09-28 (23:02:31.809) EDT<br><span>CENSORED:</span> 2018-09-29 (23:02:31.809) EDT<br>
          a(href = "https://weibo.com/2571906604/FfXPwuQXf" target = "_blank")
            i.fas.fa-sm.fa-external-link-alt
            | &nbsp;View on Weibo
        li <span>TEXT</span>: 你好<br>
          | <span>RECEIVED:</span> 2018-09-28 (23:02:31.809) EDT<br><span>CENSORED:</span> 2018-09-29 (23:02:31.809) EDT<br>
          a(href = "https://weibo.com/2571906604/FfXPwuQXf" target = "_blank")
            i.fas.fa-sm.fa-external-link-alt
            | &nbsp;View on Weibo
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../dist/china-min.js')
