doctype html
html(lang='en')
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "A student-driven independent project on Chinese and Russian digital propaganda and censorship at Phillips Academy.")
    meta(name = "author" content = "Jeffrey Shen, Miles McCain")
    title Troll Explorer | Russia | Digital Propaganda &amp; Censorship 
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "/assets/graphics/icon/favicon.png")
    link(href='/bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='/dist/CSS/troll-explorer-landing.css', rel='stylesheet', type='text/css')
  body
    include ../../components/ml-troll-detector.pug
    #body
      .container
        header
          .level
            .level-left
              .level-item
                a(href = "/") 
                  img#icon(src = "/assets/graphics/icon/icon_transparent.png")
              .level-item
                span.is-size-6 
                  span.em &mdash;
                  span.em &mdash;
                  span.em &mdash;
              .level-item
                strong Troll Tracker
            .level-right
              .level-item
                span.is-pulled-right.is-hidden-mobile.has-text-white <a href = "https://rmrm.io">Miles McCain</a> and <a href = "http://jeffreyshen.com">Jeffrey Shen</a>
        .columns
          .column.is-5
            .description
              h1 How do trolls talk?
              p.description-text We use machine learning to identify patterns in the language of Russian government trolls. Enter text using the tool on the right, or tag <a href="https://twitter.com/TrackTheTrolls">@TrackTheTrolls</a> in reply to a Tweet. For more information about the inner workings of our model, see our blog post.
              br
              .disclaimer
                ul 
                  li This is an educational tool; this model is not meant to detect real Russian trolls.
                  li Our model is tuned for 2018 discourse on Twitter. It may be less accurate when analyzing content from different time periods.
          .column
            +ml-troll-detector() 
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src = "//static.getclicky.com/js" type = "text/javascript")
    script(type = "text/javascript").
      try{
        click.init(101144012);
      }
      catch(e){}
    noscript
      p
        img(alt = "Clicky" width = "1" height = "1" src = "//in.getclicky.com/101144012ns.gif")
    script(src = "/bower_components/d3/d3.min.js")
    script(src = "/dist/ml-troll-detector-min.js")
