.line_chart{
  width: 100%;
  position: relative;
  .line-label{
    text-align: center;
    p{
      display: inline;
      margin-right: 5px;
    }
  }
  .tooltip{
    position: absolute;
    white-space: nowrap;
    background: white;
    pointer-events: none;
    padding: 2px;
    box-sizing: border-box;
  }
  .position-line, path{
    pointer-events: none;
  }
  .hidden{
    display: none;
  }
}
