html{
  overflow-y: hidden;
  height: 100vh;
}

.columns{
  margin: 0;
  padding: 0;
}

.column{
  height: 100vh;
  position: relative;
}

nav, .right{
  position: absolute;
  bottom: 12px;
  text-align: right;
  a{
    margin-right: 15px;
  }
}
.right{
  right: 12px;
}
nav{
  left: 12px;
}

.background{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#credit{
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: white;
}

#left{
  text-align: center;

  center{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%);

    #wordmark{
      width: 100%;
      position: relative;
    }
  }
}
