html, body{
  height: 100vh;
}

header{
  padding: 15px calc(15% + 12px);
  height: 80px;
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#loading{
  color: $accent;
  strong{
    color: $accent;
  }
}

#body{
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  a{
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: $accent;
    color: inherit;
    font-size: 1em;
    &:hover{
      color: $accent;
    }
  }
  h1{
    margin: 0;
  }
}

.explanation{
  border: none;
  padding-bottom: 1rem;
}

.is-8.explanation{
  padding-left: 30px;
}

#sidebar{
  border: 2px solid $gray;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 10px 10px;
  position: sticky;
  top: 12px;

  ul{
    margin-top: 5px;
    padding-left: 25px;
    font-size: 1.2em;
    list-style-type: disc;
    li{
      color: $accent;
      span{
        color: gray;
        font-size: 0.7em;
        display: block;
      }
    }
  }
  overflow: hidden;
  height: 1%;
}

#post-column{
  padding: 0 10px;
  ol{
    list-style-type: none;
    padding-top: 0;

    span, h3{
      color: $accent;
    }
    h3{
      font-size: 2em;
    }
    a{
      font-weight: normal;
      font-size: 0.9em;
      padding-top: 15px;
    }
    li{
      border: 2px solid $gray;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px 15px;
      font-size: 0.8em;
    }
    .text{
      font-size: 1.5em;
      margin-top: 8px;
      word-wrap: break-word;
    }
    .profile-photo{
      width: 40px;
      height: auto;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: -10px;
    }
    h3, .profile-photo{
      display: inline-block;
    }
    .ext-link{
      color: $accent;
      font-size: 1em;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px){
  #sidebar{
    position: relative;
  }

  .explanation.is-8{
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px){
  #body{
    width: 100%;
  }

  header{
    padding: 15px;
  }
}
