html, body{
  height: 100vh;
}

header{
  padding: 15px;
  height: 80px;
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#body{
  padding: 20px;
}

ol{
  list-style: decimal;
  padding-left: 15px;

  span{
    color: $accent;
  }
  a{
    font-weight: normal;
    font-size: 0.9em;
    padding-top: 15px;
  }
  li{
    margin-bottom: 25px;
  }
}
