html{
  overflow-y: hidden;
}

.columns{
  margin: 0;
  padding: 0;
}

.column{
  height: 100vh;
}

#left{
  text-align: center;
  position: relative;
  nav, .right{
    position: absolute;
    bottom: 12px;
    text-align: right;
    a{
      margin-right: 15px;
    }
  }
  .right{
    right: 12px;
  }
  nav{
    left: 12px;
  }

  center{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%);

    #wordmark{
      width: 100%;
      position: relative;
    }
  }
}

#right{
  background-image: url("../../assets/graphics/cover.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  #credit{
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: white;
  }
}
