@import "theme";
@import "troll-detector";

// ** Typography **

@font-face{
  font-family: "IBM_Plex_Mono";
  src: url("/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, span, p{
  color: white;
}

h1{
  font-family: "IBM_Plex_Mono";
  font-size: 2.5em;
  margin-bottom: 8px;
}

.description-text{
  text-align: justify;
}

.disclaimer{
  font-size: 12px;
  color: #9c9c9c;
}

// ** Structure **

#body{
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

header{
  height: 80px;
  padding: 15px 0;
  .level-right{
    margin-top: -7px;
  }
  .em{
    margin-right: -1px;
  }
}

.columns{
  height: calc(100vh - 110px);
  padding: 50px;
  z-index: 10;
}

.description, .troll-detector{
  width: 100%;
  height: 100%;
}

.troll-detector{
  z-index: 40;
  margin-left: 0;
  color: white;
  font-family: "IBM_Plex_Mono";

  .is-troll{
    font-size: 20px;
    font-weight: bold;
  }

  .textbox{
    height: 100%;
    font-size: 18px;
    // border-color: #262828;
    border: none;
    hr{
      margin-bottom: 10px;
    }
    z-index: 5;
  }

  #troll-pie{
    stroke: none;
    margin-top: 2px;
    margin-left: 2px;
  }

  .hover-box{
    color: black;
  }

  .placeholder{
    display: block;
    font-size: 18px;
    color: #9c9c9c;
    position: absolute;
    top: 61px;
    left: 0;
    padding: 0 14px;
    z-index: 3;
    pointer-events: none;
  }

  #loading{
    color: white;
    font-size: 20px;
    right: 20px;
  }
}

body{
  // background-color: #1a1c1c;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

//Static
@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

body:after {
  content: "";
  background-color: #949494;
  background-image: url("/assets/graphics/russia/troll-explorer/dirty-old-black-shirt.png");

  //Needs to move outside the element
  height: 400%;
  width: 400%;
  opacity: 0.4;
  position: fixed;
  left: -150%;
  top: -150%;

  animation: grain 7s steps(10) infinite;
  z-index: 2;
}

// ** Mobile **

@media screen and (max-width: 900px){
  .troll-detector{
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 600px){
  header{
    padding: 15px;
  }
}
