extends ../blog-layout.pug
block vars
  -var title = "Title of Post"
  -var date = "October 18, 2018"
  -var featured_image_url = "https://images.unsplash.com/photo-1539782916254-c0e7966b1784?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86a7b3dd2b2629b3a55ff29c1b9a3585&auto=format&fit=crop&w=1350&q=80"
  -var featured_image_alt = ""
  -var featured_image_caption = "Amet ipsum et exercitation Lorem veniam deserunt consectetur exercitation ad laborum veniam dolor excepteur."
  -var featured_image_credit = "Source: Qui aute occaecat duis"

block body
  +img_half_left("https://images.unsplash.com/photo-1539782916254-c0e7966b1784?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86a7b3dd2b2629b3a55ff29c1b9a3585&auto=format&fit=crop&w=1350&q=80", "", "Caption", "credit")
  p Est cupidatat qui sit incididunt mollit mollit velit Lorem ea tempor occaecat aliquip. Nostrud adipisicing fugiat et dolore sint dolore fugiat. Nulla aliquip duis nulla Lorem deserunt fugiat deserunt occaecat sit est nostrud exercitation quis eiusmod. Nostrud laboris est fugiat do nostrud Lorem sint id ut elit pariatur commodo fugiat. Ipsum aute reprehenderit nulla aliquip sint ex occaecat. Ex dolor consequat amet quis enim ullamco elit aliqua magna enim sint proident. Velit enim dolor labore reprehenderit adipisicing eiusmod velit fugiat dolor occaecat reprehenderit voluptate sit excepteur irure adipisicing excepteur. Id dolor ut do mollit ea eiusmod dolor dolor et. Nisi sint officia consequat qui culpa in id non dolore proident do reprehenderit. Magna sunt esse laboris cupidatat incididunt nisi ad officia minim dolor dolore sunt exercitation cillum Lorem sunt. Nulla nostrud duis eiusmod nisi qui veniam sunt nulla aliquip eiusmod enim ad veniam aliquip.
    br
    br
  p Et minim mollit ipsum velit commodo nostrud magna ullamco aute ad et cillum. Et ad sit magna eiusmod laboris duis duis amet ut ullamco qui consectetur. Ea culpa sunt consequat reprehenderit ea quis magna non sit commodo sint velit veniam non commodo. Enim anim est consectetur ipsum proident elit magna aliquip tempor proident veniam. Duis qui voluptate ex dolor mollit ipsum aute aliquip. Nisi exercitation dolor eu minim officia reprehenderit officia voluptate magna excepteur adipisicing est. Tempor fugiat anim mollit est id qui amet anim eu dolore reprehenderit velit quis. Minim in ipsum aute nisi labore officia labore do consequat est pariatur minim commodo esse.
    br
    br
  p Sit duis cupidatat officia sunt et adipisicing aliquip incididunt aute consectetur irure voluptate ullamco irure. Duis esse pariatur proident nisi eu non irure mollit ad elit ullamco eiusmod ea. Sunt sunt deserunt nulla voluptate ullamco laboris mollit exercitation.Est ad labore fugiat laboris nisi qui id sunt laborum sit aute aute mollit id cillum occaecat. Excepteur est in aute cupidatat exercitation dolor sunt ea enim magna cupidatat. Eiusmod excepteur reprehenderit do laboris enim qui voluptate ullamco duis sit quis velit.
    br
    br
  +img_half_right("https://images.unsplash.com/photo-1539782916254-c0e7966b1784?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86a7b3dd2b2629b3a55ff29c1b9a3585&auto=format&fit=crop&w=1350&q=80", "", "Caption", "credit")
  p Minim ad incididunt id aute mollit velit ut aliquip officia enim. Adipisicing fugiat sint duis commodo et duis et labore proident laboris reprehenderit dolore. Laboris voluptate veniam in occaecat fugiat amet cupidatat consequat voluptate voluptate sunt occaecat eu anim culpa.
    br 
    br
  p Enim irure in incididunt occaecat do laboris eu commodo Lorem consectetur magna quis elit excepteur ea. Dolor ipsum aute sint voluptate eu mollit ex. Veniam eu do fugiat aliquip ad eu incididunt commodo amet dolor sint ad magna eiusmod ea irure. Sit aliquip aute amet aute aliquip dolor magna ipsum id excepteur. Culpa consectetur ea occaecat excepteur elit exercitation aute consequat tempor nostrud commodo cupidatat laboris nostrud.
    br
    br
  p Voluptate qui nulla mollit ullamco commodo aliquip sit in reprehenderit non quis. Officia ipsum pariatur cupidatat nisi dolor cillum laboris do sunt dolor tempor et voluptate velit dolore. Nulla nulla eu ex ea sunt sit et deserunt pariatur nostrud elit tempor nisi minim magna. Esse mollit nisi incididunt sint ut aliquip velit exercitation commodo pariatur nostrud commodo veniam. Consequat anim eu aliqua aute do irure eu nisi qui commodo nulla officia qui consectetur sit nostrud dolore.
