//Gradient top-bar
header
  .level
    .level-left
      .level-item
        a(href = "/") 
          img#icon(src = "/assets/graphics/icon/icon_transparent.png")
    .level-right
      .level-item
        span.is-pulled-right.is-hidden-mobile.has-text-white An Independent Project at Phillips Academy
