mixin line_chart(id, accent, height, x, y, csv, scatter, lines, lineLabels, title, ordinal, useTooltip, hours) 
  div(id = id class = "line_chart" data-accent = accent data-x = x data-y = y data-height = height data-csv = csv data-scatter = scatter data-lines = lines data-labels = lineLabels data-ordinal = ordinal data-usetooltip = useTooltip data-hours = hours data-title = title)
    .tooltip.hidden
    
    
