mixin line_chart(id, accent, height, x, y, csv, scatter, lines, lineLabels, ordinal) 
  div(id = id class = "line_chart" data-accent = accent data-x = x data-y = y data-height = height data-csv = csv data-scatter = scatter data-lines = lines data-labels = lineLabels data-ordinal = ordinal)
    .tooltip.hidden
