// Component for the ML troll detector, to be used as a standalone website and in blog posts.

mixin ml-troll-detector()
  .troll-detector
    .textbox(autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
      .level
        .level-left
          span#troll-pie.pie.level-item.hidden
          span.heading.is-troll.level-item Please enter your text below
      hr
      span#loading(hidden)
        i.fas.fa-spinner.fa-spin 
      #text.text(contenteditable="true")
      .placeholder Type a tweet here.
      .character-limit 0/240
    span.caption All percentages shown in the tool above indicate the scaled confidence (from -100% to +100%) of the model that a text is theoretically a Russian IRA troll Tweet (positive values) or an organic Tweet (negative values) in an evenly distributed dataset. 
