extends ../blog-layout.pug
block vars
  -var title = "The Trolls are Among Us"
  -var subtitle = "Deconstructing Russian Social Media Meddling So Far"
  -var date = "Oct. 29, 2018"
  -var featured_image_url = "/assets/graphics/russia/intro/featured.jpg"
  -var featured_image_alt = "A photo of the former Internet Research Agency (IRA) building on Savushkina Street in St. Petersburg, Russia."
  -var featured_image_caption = "The former Internet Research Agency (IRA) building on Savushkina Street in St. Petersburg, Russia."
  -var featured_image_credit = "Miles McCain"

  //add subtitle, add links, add data vis, fix header style

block body
  p On March 8, 2016, Twitter CEO Jack Dorsey <a href = "https://www.thedailybeast.com/twitter-ceo-retweeted-alleged-russian-trolls">retweeted</a> @Crystal1Johnson, a Twitter account that appeared to be run by a black American woman. The tweet itself was benign: “Nobody is born a racist. This ” Unbeknownst to Dorsey, however, the account he retweeted did not belong to Crystal Johnson—instead, it belonged to the Internet Research Agency, a Russian state-sponsored organization more popularly <a href = "https://www.nytimes.com/2016/05/31/world/europe/russia-finland-nato-trolls.html">known</a> as the “Russian troll factory.”
  br
  .border
    +img_full("/assets/graphics/russia/intro/crystal-johnson.png", "A falsified Russian tweet from a Russian IRA troll", "A screenshot of @jack’s retweet of @Crystal1Johnson, a Russian IRA troll.", "NBC News")
  p Dorsey was far from the only person fooled by the trolls. On January 29, 2018, Twitter <a href = "https://blog.twitter.com/official/en_us/topics/company/2018/2016-election-update.html">notified</a> 1.4 million users that they had interacted with Russian trolls by following, retweeting, quoting, replying to, mentioning, or liking an IRA-linked account. Among the users <a href = "https://www.nbcnews.com/tech/social-media/trump-other-politicians-celebs-shared-boosted-russian-troll-tweets-n817036">notified</a> were President Donald Trump, The Washington Post, Richard Spencer, Nicki Minaj, BuzzFeed, NBC News, Anthony Scaramucci, Sean Spicer, and Sen. Ted Cruz. 
  br
  p The IRA’s disinformation campaign did not limit itself to Twitter: on October 30th 2017, Facebook <a href = "https://www.nytimes.com/2017/10/30/technology/facebook-google-russia.html">admitted</a> that the IRA operated pages on its platform that collectively reached 126 million Americans—possibly half of eligible voters. That same day, Google <a href = "https://www.blog.google/outreach-initiatives/public-policy/security-and-disinformation-us-2016-election/">revealed</a> that it had served ads during the 2016 election cycle linked to the Russian government.
  //[126 million in bold]
  br
  h1 What we know—and what we don’t.
  p The IRA didn’t buy its way into American public discourse—instead, the infiltration came organically. While the IRA did buy ads to promote its content on Facebook, for example, these sponsored messages only <a href = "https://www.washingtonpost.com/business/technology/2017/10/30/4509587e-bd84-11e7-97d9-bdab5a0ab381_story.html?utm_term=.bfba57ad29e6">reached</a> 10 million users—less than 10% of total users were exposed to IRA propaganda. Indeed, the vast majority of impressions did not come as a result of advertising: on Twitter, IRA troll tweets <a href = "https://www.nbcnews.com/news/us-news/russian-backed-election-content-reached-126-million-americans-facebook-says-n815791">constituted</a> 0.74% of election-related content.
  br
  //- [Add donut chart]
  p On October 31st 2017, the Senate Judiciary subcommittee on crime and terrorism <a href = "https://www.nbcnews.com/politics/congress/facebook-twitter-google-reps-grilled-senate-about-russian-propaganda-n816121">questioned</a> representatives from Twitter, Facebook, and Google about the scope and scale of Russian meddling on their platforms. Over several days of testimony, the companies disclosed what they knew about the meddling on their platforms. But when lawmakers asked whether the companies were confident they had unearthed the full scope of the Russian meddling campaign on their platforms, representatives from Facebook and Twitter <a href = "https://www.c-span.org/video/?436360-1/facebook-google-twitter-executives-testify-russias-influence-2016-election&start=3484">answered</a> “No.”
  br
  p As the representatives acknowledged, much remained—and remains—unknown about the Russian effort to use social media to influence the 2016 American election. We do know, however, that the disinformation campaign respected no boundaries: it promoted both conservative and liberal messaging, reached a majority of Americans, and incited distrust in the American political system.
  br
  h1 Here’s how it happened.
  p The Russian government saw the power of social media as a tool to influence American civil discourse, and seized on the opportunity to weaponize it. To this end, we speculate that Russia had three distinct—but closely related—objectives in its disinformation campaign leading up to the 2016 election: to incite division, generate distrust, and influence elections.
  br
  .border
    +img_half_right("/assets/graphics/russia/intro/elizabeth-warren.png", "Screenshot of a post by the IRA.", "A post by @TEN_GOP, an account operated by the IRA purporting to be the Tennessee Republican Party.", "Vox")
  h2 Incite division.
  p The IRA, <a href = "https://www.nytimes.com/2018/08/01/technology/facebook-trolls-midterm-elections.html">posing</a> as both left wing groups (Black Lives Matter, for example) and right wing groups (promoting mainstream conservative issues such as gun rights, hard-line immigration policies, and anti-Clinton rhetoric) served to inflame racial and partisan tension. Importantly, the trolls exploited existing divisions within America and promoted a spectrum of content designed to amplify these divisions.
  br
  h2 Generate distrust.
  p IRA trolls also actively sought to spread falsified information with the intent of discrediting people and movements they opposed. Common <a href = "https://www.nytimes.com/2018/10/19/us/politics/russia-interference-midterm-elections.html">targets of the IRA</a> included Obama, undocumented immigrants, and high-level Republicans such as John McCain, who the IRA degraded in factually-incorrect posts and <a href = "https://www.nytimes.com/2018/10/19/us/politics/russia-interference-midterm-elections.html">memes</a>. (One meme, for example, insinuated that Obama was connected to the <a href = "https://www.cnn.com/2013/07/03/world/africa/egypt-muslim-brotherhood-explainer/index.html">Muslim Brotherhood</a>.) This content was widely shared, and served to bolster support for Trump and delegitimize his opponents. More insidious, however, was the opportunity that Russian trolls provided: <a href = "https://www.nytimes.com/2018/08/01/technology/facebook-trolls-midterm-elections.html">allowing</a> organic online movements to be discredited as “Russian trolls” in the same way that the fake news epidemic provided an <a href = "https://www.nytimes.com/2018/07/13/business/media/trump-cnn-london.html">opportunity</a> for Trump to discredit the mainstream American media.
  br
  .border
    +img_full("/assets/graphics/russia/intro/russian-troll-accusations.png", "Screenshot of Twitter search results", "Twitter users accusing one another of being Russian trolls.", "Twitter")
  h2 Influence Elections
  p A primary objective of the Russian disinformation campaign was to <a href = "http://www.oxfordscholarship.com/view/10.1093/oso/9780190923624.001.0001/oso-9780190923624">influence electoral outcomes</a> in favor of Republicans—specifically, to spur conservatives to vote in key swing elections, divert Democratic voters towards Jill Stein, and suppress the African-American vote. Aided in large part by the ability to target specific demographics on social media and the <a href = "https://www.loyola.edu/academics/emerging-media/blog/2016/viral-misinformation-political-engagement">viral tendencies</a> of fringe political content, the IRA was extremely effective at spreading its messaging. Trolls posing as black activists <a href = "http://www.oxfordscholarship.com/view/10.1093/oso/9780190923624.001.0001/oso-9780190923624">created</a> Instagram accounts with names such as “Woke Black” and “Blacktivist” to dissuade black Americans from voting for Hillary Clinton. These accounts distributed memes and images highlighting, for example, Clinton’s insensitive use of the term “<a href = "https://www.c-span.org/video/?c4582473/hillary-clinton-superpredators-1996">super-predator</a>” in reference to young Black men in 1996. 
  //[Post a meme here]
  br
  h2 They knew their audience.
  p The Russian operation indicated a high degree of <a href = "https://www.nytimes.com/2018/08/01/technology/facebook-trolls-midterm-elections.html">sophistication</a> and cultural understanding in its efforts to influence the American public. IRA-backed accounts often spread political messages in the form of highly-shareable <a href = "https://www.cnet.com/news/russian-trolls-targeted-teens-on-facebook-with-memes/">memes</a>, which were often virtually indistinguishable from organic American content.
  br
  p On a message board for the trolls, one message <a href = "https://www.nytimes.com/2018/10/19/us/politics/russia-interference-midterm-elections.html">suggested</a> that if “you write posts in a liberal group … you must not use Breitbart titles” and “if you write posts in a conservative group, do not use Washington Post or BuzzFeed’s titles.” To target liberal audiences, <a href = "https://www.nytimes.com/2018/10/19/us/politics/russia-interference-midterm-elections.html">trolls were instructed</a> to post in the morning—night in America—as  “L.G.B.T. groups are often active at night” and to target conservatives, they would post “just before [the conservatives] left work for the day. And while these instructions were often grounded in deeply offensive stereotypes—one troll <a href = "https://www.nytimes.com/2018/10/19/us/politics/russia-interference-midterm-elections.html">suggested</a> keeping posts simple when aimed at queer people of color, stating “colored L.G.B.T. are less sophisticated than white”—they all indicate a formidable awareness of U.S. culture. 
  br
  h1 What’s happening now.
  p Russia’s disinformation campaign is far from over. Using similar tactics to the ones employed in 2016, IRA trolls continue to spread false and divisive propaganda across social media in an attempt to <a href = "https://www.nytimes.com/2018/08/01/technology/facebook-trolls-midterm-elections.html">influence the 2018 midterm</a> elections and American democracy more broadly. A key development in recent disinformation efforts is the shift to incite offline activity in addition to online activity. 
  br
  p As part of their new campaign, IRA accounts promoted and set up events on social media, including a <a href = "https://www.nytimes.com/2018/08/01/technology/facebook-trolls-midterm-elections.html">counterprotest</a> to an White nationalist rally. Though these events are often created by legitimate American political organizations, their co-option by Russia indicates a desire to sow chaos both on- and offline.
  br
  //- [Screenshot of this counterprotest]
  p Another equally alarming result of Russia’s Internet meddling—both in 2016 and now—is the rise of domestic disinformation. According to <a href = "https://www.nytimes.com/2018/10/11/technology/fake-news-online-disinformation.html">Molly McKew</a>, a researcher at New Media Frontier, “There are now well-developed networks of Americans targeting other Americans with purposefully designed manipulations,” many of which are modelled—intentionally or not—after Russian efforts.
  br
  p The lasting legacy of Russia’s 2016 disinformation campaign and its present-day efforts to influence the 2018 midterm elections is difficult to quantify. Some argue that the Russian efforts were <a href = "https://www.theatlantic.com/technology/archive/2018/02/the-russian-conspiracy-to-commit-audience-development/553685/">ineffective</a> in swaying elections; others argue the <a href = "https://www.wired.com/story/did-russia-affect-the-2016-election-its-now-undeniable/">opposite</a>. Regardless, its secondary effects—distrust in American media and politics, the prevalence of disinformation, and deeper partisan and racial divisions—will only serve to erode our democratic institutions if they continue unchecked.
  //Gray, same size 
  hr
  .epilogue
    p We believe a modest but necessary step forward in combatting Russian disinformation efforts is to spread awareness of the Russian disinformation campaign and make the truth—what really happened—accessible to a wide variety of audiences.
    br
    p As part of our inquiry into the Russian disinformation campaign, we seek to do just that. Join us as we identify trends in IRA content by developing a machine learning model to identify tweets similar to known Russian propaganda. The effect, we hope, will be to make the world of Russian disinformation ever so slightly more understandable. 
